html {
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  font-family: 'Merriweather';
}

header {
  background-color: #d05c2e;
  margin: 0px;
  overflow: hidden;
}

.grain-left {
  float: left;
  width: 8%;
  margin: 15px;
  border: 0px;
  margin-left: 0px;

}

.grain-right {
  float: right;
  width: 8%;
  margin: 15px;
  border: 0px;
  margin-right: 0px;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 0px;
  font-size: 2rem;
  padding-top: 0.5em;
}

nav {
  overflow: hidden;
  margin: 0;
  clear: left;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  text-align: center;
  display: inline-block;
  width: 33.33%;
  border: 1px solid #a93f35;
  padding: 0.5em;
}

nav a {
  padding: 0.5em;
  margin: 0.20em;
  color: #fff;
  text-decoration: none;
  font-size: 1.15rem;
}

nav li:hover {
  background-color: #a93f35;
}

body {
  margin: 0px;
}


h2 {
  background-color: #dc8252;
  text-align: center;
  color: #fff;
  padding: 1em;
  margin: 0em;
  clear: both;
}

.grain-left2, .cereals-right, .quinoa-right {
  border: 1px solid #CFCFCF;
}

.grain-left2 {
  float: left;
  width: 39.5%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

}

.cereals-right {
  float: right;
  width: 40%;
  margin-top: 0.3em;
  margin-right: 0.5em;
  margin-left: 0.3em;
  padding: 0em;

}

.quinoa-right {
  float: right;
  width: 40%;
  margin: 0.5em;
  clear: right;
  padding: 0em;
}

p {
  margin: 0.5em;
  font-size: 0.98rem;
  line-height: 1.6em;
}

.p2 {
  clear: left;
}

.corn, .rice, .oats {
  background-color: #dc8252;
  font-style: italic;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
}

.corn-centre {
  width: 100%;
  margin: 0em;
  padding: 0em;
  border: 0px;
}

.corn {
  margin: 0px;
  margin-top: -0.45em;
  padding: 0em 0em 1em 0em;
}

.rice-left {
  width: 50%;
  float: left;
  padding: 0em;
  border: 0px;
}

.rice {
  float: left;
  width: 50%;
  margin: 0px;
  padding: 0.1em 0em 1em 0em;
}

.oats-right {
  width: 50%;
  float: right;
  border: 0px;
}

.oats {
  float: right;
  width: 50%;
  margin: 0px;
  padding: 0.1em 0em 1em 0em;
}

h3 {
  clear: both;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1em;
  margin-bottom: 1.5em;
}

dt, dd {
  font-style: italic;
  font-size: 0.75rem;
}

dt {
  font-weight: bold;
  float: left;
  clear: left;
  margin-right: 0.3em;
}

dd {
  margin: 0;
  float: left;
}
